<!DOCTYPE html>
<html>
<head>
    <title>Peltier - Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Peltier Control Dashboard</h1>
        <div id="live-data">Teplota: -- °C</div>
        <button id="start-btn">Štart</button>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>